name: GitHub Readme update
on:
  schedule:    
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Update Badges
        uses: pemtajo/badge-readme@main
        with:       
          CREDLY_USER: alexandrerabello
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}